__pycache__
env/

.vscode/
node_modules/
build/

*.log

_*.sh

*.bak
*.BAK
*.log

models/*
data/tables/*
data/acronyms.csv
data/gedsOpenData.csv
dialog_graph.html

!**/.gitkeep

.env